{% extends 'jtalks/base.html' %}
{%load static%}
{% block title %}Jtalk Blog | Detail {% endblock title %}

{%block content %}

<section id="course-inner">
        <div class="overview">
            <img class="course-img" src="{% if course.cover %}{{ course.cover.url }}{% else %}https://dummyimage{% endif %}" alt="">
            <div class="course-head">
                <div class="c-name">
                    <h2>{{course.name}}</h2>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <p>Modern JavaScript from the beginning - all the way up to JS expert level! THE must-have JavaScript resource in 2021.</p>
                </div>
                <span>${{course.price}}</span>
            </div>
            <h3>Instructor</h3>
            <div class="tutor">
                <img src="images/c4.jpg" alt="">
                <div class="tutor-det">
                    <h5>{{course.tutor}}</h5>
                    <p>{{course.tutor_title}}</p>
                </div>
            </div>
            <hr>
            <h3>Course Overview</h3>
            <p>{{course.overview|linebreaks }}</p>
            <hr>
            <h3>What you'll learn</h3>
            <div class="learn">
                <p><i class="far fa-check-circle"></i>JavaScript from scratch - beginner to advanced</p>
                <p><i class="far fa-check-circle"></i>Everything you need to become a JavaScript expert and apply for JavaScript jobs</p>
                <p><i class="far fa-check-circle"></i>All about variables, functions, objects and arrays</p>
                <p><i class="far fa-check-circle"></i>All core features and concepts you need to know in modern JavaScript development</p>
                <p><i class="far fa-check-circle"></i>Project-driven learning with plenty of examples</p>
                <p><i class="far fa-check-circle"></i>Object-oriented programming</p>
            </div>
        </div>

        <div class="enroll">
            <h3>This course includes:</h3>
            <p><i class="far fa-video"></i>52 hours video</p>
            <p><i class="far fa-newspaper"></i>75 articles</p>
            <p><i class="far fa-cloud-download"></i>Downloadable resources</p>
            <p><i class="far fa-infinity"></i>Full lifetime access</p>
            <p><i class="fas fa-mobile-alt"></i>Access on mobile and TV</p>
            <p><i class="far fa-paperclip"></i>Assignments</p>
            <p><i class="far fa-trophy-alt"></i>Certificate of completion</p>

            {% if request.user.is_authenticated %}
            <div class="enroll-btn">
              <a id="enroll_btn" class="blue" href="#" data-course-id="{{ course.id }}" data-user="{{ request.user.username }}" data-user-id="{{ request.user.id }}" data-price="{{course.price}}">
                Enroll Course
                <i class="fas fa-angle-double-right load-more-icon"></i>
              </a>
              <!--
              <div>
                <button id="enroll_btn" type="button" class="blue" data-bs-toggle="modal" data-bs-target="#enroll_course">Enroll</button>
              </div>
              -->
            </div>
            {% else %}
              <div class="enroll-btn">
                <a class="blue" href="{% url 'users:login' %}?next={{request.path}}">Login To Enroll</a>
              </div>
            {% endif %}
        </div>
    </section>
{%endblock content%}

{% block js %}
 <script src="{%static 'jtalks/script.js' %}"></script>
<script src="{% static 'jtalks/home.js' %}"></script>
{% endblock js %}