{% extends 'jtalks/base.html' %} {%load static%}

{%block content %}


 <!-- Our Featured coureses -->
<!-- <section class="featured" id="featured">

    <h1 class="heading"><span>featured</span> courses</h1>

    <div class="box-container">
        {% for course in courses %}
        <div class="box">
            <div class="image-container">
                <img src="{{ course.cover.url }}" alt="">
            </div>
            <div class="content">
                <div class="price">
                    <h3>${{ course.price }}</h3>
                </div>
                <div class="location">
                    <h3>{{ course.name }}</h3>
                    <p>{{course.overview|linebreaks }}</p>
                </div>
                <div class="details">
                    <h3>Instructor: {{course.tutor}}</h3>
                </div>
                <div class="buttons">
                    {% if request.user.is_authenticated %}
                    <a id="enroll_btn" href="#" data-course-id="{{ course.id }}" data-user="{{ request.user.username }}" data-user-id="{{ request.user.id }}" data-price="{{course.price}}" class="btn-btn">Buy</a>

                    {% else %}
                    <a href="{% url 'users:login' %}?next={{request.path}}" class="btn-btn">Login to Buy</a>
                    {% endif %}
                    <a href="/course/{{ course.id }}/{{ course.slug }}/" class="btn-btn">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}

</section> -->


    <!-- COURSE SECTION -->
    <section class="course" id="course">
        <p class="section-subtitle">Our Amazing Courses</p>

        <h1 class="section-title">Find the right course for you</h1>

        <div class="course-grid">
           {% for course in courses %}
            <div class="course-card">
                <div class="course-banner">
                    <img src="{{ course.cover.url }}" alt="course banner">

                    <div class="course-tag-box">
                        <a href="" class="badge-tag purple">Business</a>
                        <a href="" class="badge-tag blue">Marketing</a>
                    </div>
                </div>

                <div class="course-content">
                    <h3 class="card-title">
                        <a href="/course/{{ course.id }}/{{ course.slug }}/">{{ course.name }}</a>
                    </h3>
                

                    <div class="wrapper border-bottom">
                        <div class="author">
                            <img src="{%static 'jtalks/images/course-instructor-img.jpg' %}" alt="course Instructor image" class="author-img">
                            <a href="#" class="author-name">{{course.tutor}}</a>
                        </div>

                        <div class="rating">
                            <ion-icon name="star"></ion-icon>
                            <p>5.0 (2k)</p>
                        </div>
                    </div>

                    <div class="wrapper">
                        <div class="course-price">${{ course.price }}</div>

                        <div class="enrolled">
                            <div class="icon-user">
                                <img src="{%static 'jtalks/images/student-icon.png' %}" alt="user icon">
                            </div>

                            <p>600k</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- <button class="btn btn-primary">
            <p class="btn-text">View All Course</p>
            <span class="square"></span>
        </button> -->
    </section>


{%endblock content%}