{% extends 'jtalks/base.html' %} {% load static %} {% block title %}Jtalk Blog |
Delete Post{% endblock title %} {% block content %}
<section class="vh-105">
  <div class="container py-5 h-110">
    <div class="row justify-content-center align-items-center h-110">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">
              Are you sure you want to delete this post - "{{ post.title }}" ?
            </h1>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <select class="contact_input" name="ask">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  <!-- <label class="form-label select-label">Choose option</label> -->
                </div>
              </div>

              <div class="mt-4 pt-2">
                <input
                  class="btn btn-secondary btn-lg"
                  type="submit"
                  value="Delete Post"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block js %}
<script>
  function showPassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }

  function showPassword2() {
    var x = document.getElementById("password2");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
{% endblock js %}
