{% extends 'jtalks/base.html' %}
{% load static %}
{% block title %}Jtalk Blog | Home {% endblock title %}
{% block blog_new %} Add Post {% endblock blog_new %}

{% block blog_style %}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'jtalks/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" /> -->
  <link rel="stylesheet" href="{%static 'jtalks/new.css' %}" />
{% endblock blog_style %}


{% block content %}

<!-- BLOG -->
<div class="container">

    <section class="blog" id="blog">

        <p class="section-subtitle">Our Blog</p>

        <h2 class="section-title">Latest Blog & Update</h2>
         
        <div class="blog-grid">
           {% if posts %}
                {% for post in posts %}

            <div class="blog-card">

                <div class="blog-banner-box">
                    <img src="{{ post.image.url }}" alt="blog banner">
                </div>

                <div class="blog-content">
                    <h3 class="blog-title">
                        <a href="{% url 'forum:post_detail' post.pk post.slug %}">{{ post.title }}</a>
                    </h3>

                    <div class="wrapper">
                        <div class="blog-pulish-date">
                            <img src="{%static 'jtalks/images/calendar.png' %}" alt="calender icon">
                            
                            <a href="#">On {{ post.date }}</a>
                        </div>

                        <div class="blog-comment">
                            <!-- <img src="{%static 'jtalks/images/comment.png' %}" alt="comment icon"> -->

                            <!-- <a href="#">3 comment</a> -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <h2>No blog post is available. Be the first to share a post</h2>
        {% endif %}
    </section>
</div>

</section>


{% endblock content %}







