{% extends 'jtalks/base.html' %}
{% load static %}
{% block title %}Jtalk Blog | {{ post.title }} {% endblock title %}
{% block blog_new %}Add Post{% endblock blog_new %}

{% block blog_style %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'jtalks/sytle.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" /> -->
{% endblock blog_style %}


{% block content %}

<div class="main container">
        <div class="row">
          <div class="col-lg-8">
            <div class="single-post">
              <h1>{{ post.title|title }}</h1>
              <div class="post-meta text-muted">
                <span><i class="far fa-user"></i>By {{ post.author }}</span>
                <span><img style="width: 20px;" src="{%static 'jtalks/images/icon/calendar.svg' %}" alt=""> On {{ post.date }}</span>
                <span>
                    <i class="far fa-comment-alt"></i>
                    {% if post.number_of_comments %}
                    {% with post.number_of_comments as total_comments %}
                    {{ total_comments }} Comment{{ total_comments|pluralize }}
                    {% endwith %}
                    {% else %}
                    0 Comment
                    {% endif %}
                </span>
                  <span>
                      <i class="far fa-comment-alt"></i>
                      {{ post.total_likes }} Like{{ post.total_likes|pluralize }}
                  </span>
              </div>
              <div class="post-contant">
                <div class="post-img"><img src="{{ post.image.url }}" alt=""></div>
                <!-- <h3>{{ post.title }}</h3> -->
                <p>{{ post.body|linebreaks }}</p>

                <!-- Share Post -->
                <div class="share">
                  <a href=""><i class="fab fa-facebook-f"></i> FACEBOOK</a>
                  <a href=""> <i class="fab fa-google-plus-g"></i> GOOGLE+</a>
                  <a href=""><i class="fab fa-linkedin-in"></i> LINKEDIN</a>
                  <a href=""><i class="fab fa-pinterest-p"></i> PINTEREST</a>
                </div>
                <div class="navigation">
                  <a class="prew" href="{% url 'forum:post_list' %}"><i class="fas fa-chevron-left"></i>All Post</a>
                    <div>
                            <form action="{% url 'forum:like_post' post.id post.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="contact_button trans_200" type="submit" name="post_id" value="{{ post.id }}">Like Post</button>
                                <strong>- {{ post.total_likes }} Like{{ post.total_likes|pluralize }}</strong>
                            </form>
                        </div>
                </div>

                <div class="col-lg-6">
                <!-- Display Comment Section -->
                {% if comments %}
                    <!-- <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong> -->
                    {% with comments.count as total_comments %}
                        <strong>{{ total_comments }} comment{{ total_comments|pluralize }}</strong>
                    {% endwith %}
                    <hr>
                    <ul>
                        {% for comment in comments %}
                            <li>
                                <div class="post-meta">
                                    <p>Comment {{ forloop.revcounter }} By {{ comment.name }} | <small>{{ comment.date }}</small></p>
                                </div>
                                <div class="post-contant">
                                    <p>{{ comment.comment|safe }}</p>
                                </div>
                            </li>
                            <hr>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong class="text-secondary">No comments yet...</strong>
                {% endif %}
                <!-- End Display Comment Section -->
            </div>

                <!-- COMMENT FORM -->
                <form method="POST" id="commentForm">
                    <p>Please note that your details is safe with us and cannot be shared with anyone else...</p>
                    {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="comment">Add A New Comment</label>
                            <textarea name="body" class="form-control" placeholder="Type Your Message Here ..." style="height: 10rem;" required></textarea>
                        </div>

                        <!-- Name input -->
                        <div class="mb-3">
                            <input class="form-control" name="full_name" type="text" placeholder="Enter Your Full Name" required/>
                        </div>
                    
                        <!-- Email address input -->
                        <div class="mb-3">
                            <input class="form-control" name="email" type="email" placeholder="Enter Your Email Address" required/>
                        </div>
                    <!-- Form submit button -->
                    <div class="d-grid">
                        <button class="main-btn" id="submitButton" type="submit">Post Comment</button>
                    </div>
                </form>
              </div>
            </div>
          </div>



            <div class="sidebar col-lg-4">
            <div class="sidebar-category">
              <h4>All Categories</h4>
              <div class="category">
                  {% for category in categories %}
                  <div class="category-item">
                    <a class="category-title" href="{% url 'forum:blog_category' category.name %}">{{ category.name }}</a>
                  </div>
                  {% endfor %}
          </div>

          <!-- Recent Post -->
            </div>
            <div class="recent-posts my-5">
              <h4>Our latest Articles</h4>
            <div class="latest-articles-wrapper">
                {% for post in latest_posts %}
              <div class="article">
                <div class="arcticle-photo"><img src="{{ post.title|title }}" alt=""></div>
                <div class="article-text">
                <a href="{% url 'forum:post_detail' post.pk post.slug %}"><h5 class="title">{{ post.title|title }}</h5></a>
                <p class="article-meta"><img src="{{ post.image.url }}" alt=""><span class="data text-muted">{{ post.get_days }}</span></p>
                <p>{{ post.body|truncatewords_html:10 }}</p>
                </div>
              </div>
                {% endfor %}
              
            </div>
          </div>
          </div>
        </div>
      </div>

{% endblock content %}








<section id="blog-container">
    <div class="blog_pages">
        <ul>
            <span class="step-links">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
            </span>
        </ul>
    </div>
</section>

<!-- Start Comment Section -->
<section id="blog-container">
<div class="blogs postpage">
    <!--Add Comment Form -->
    <div class="post">
        <!-- <h2>Leave your comment:</h2> -->
    </div>
    <div id="contact_form_section">
        {% if user.is_authenticated %}
            {% if new_comment %}
                <h2>Your comment has been added successfully.</h2>
                <h2>Add another comment</h2>
                <form class="contact_form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {{ comment_form.as_p }}
                    </div>
                    <button class="like_post">Add comment</button>
                </form>
            {% else %}
                <h3>Add a new comment</h3>
                <form class="contact_form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {{ comment_form.as_p }}
                    </div>
                    <button class="like_post">Add comment</button>
                </form>
            {% endif %}
        {% else %}
            <button class="like_post">
                <a href="{% url 'users:login' %}?next={{request.path}}" style="color: purple;">Please Log in to add a comment!</a>
            </button>
        {% endif %}
    </div>
    <!--End Comment Form -->
</div>



</section>
<!-- End Comment Section -->

<section id="blog-container">
<div class="blogs postpage">
    <!-- Display Comment Section -->
    {% if comments %}
        <!-- <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong> -->
        {% with comments.count as total_comments %}
            <strong>{{ total_comments }} comment{{ total_comments|pluralize }}</strong>
        {% endwith %}
        <hr>
        <ul>
            {% for comment in comments %}
                <li>
                    <div class="blog_meta">
                        <ul>
                            <li>Comment {{ forloop.revcounter }} By <a href="{% url 'users:user_profile' comment.author.id %}">{{ comment.author }}</a></li>
                            <li> On {{ comment.date }}</li>
                        </ul>
                    </div>
                    <div class="post">
                        {% if comment.author.gender == 'Male' %}
                        <p> He wrote:<br>{{ comment.comment|safe }}</p>
                        {% else %}
                        <p> She wrote:<br>{{ comment.comment|safe }}</p>
                        {% endif %}
                    </div>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <strong class="text-secondary">No comments yet...</strong>
    {% endif %}
    <!-- End Display Comment Section -->
</div>
</section>








<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="blog_content">
                    <!-- Add Blog Details -->
                    <div class="blog_post">
                      <hr>
                        <div class="blog_image">
                            <img src="{{ post.image.url }}">
                        </div>
                        <div class="blog_title">
                            {{ post.title }}
                        </div>
                        <div class="blog_meta">
                            <ul>
                                <li>By <a href="{% url 'users:user_profile' post.author.id %}">{{ post.author }}</a></li>
                                {% for category in post.categories.all %}
                                <li>In
                                    <a href="{% url 'forum:blog_category' category.name %}">
                                        {{ category.name }}
                                    </a></li>
                                {% endfor %}
                                {% if comments %}
                                    {% with comments.count as total_comments %}
                                        <li>{{ total_comments }} Comment{{ total_comments|pluralize }}</li>
                                    {% endwith %}
                                {% else %}
                                    <li>0 Comment</li>
                                {% endif %}
                                <li> On {{ post.date }}</li>
                                <li>{{ post.total_likes }} Like{{ post.total_likes|pluralize }}</li>
                            </ul>
                        </div>
                        <div class="blog_text">
                            <p>{{ post.body}}</p>
                        </div>

                        <div>
                          
                          {% if user.is_authenticated %}
                            <form action="{% url 'forum:like_post' post.id post.slug %}" method="POST">
                              {% csrf_token %}
                              <button class="like_post" type="submit" name="post_id" value="{{ post.id }}">Like Post</button>
                              <strong>- {{ post.total_likes }} Like{{ post.total_likes|pluralize }}</strong>
                            </form>
                          {% else %}
                            <form action="{% url 'forum:like_post' post.id post.slug %}" method="POST" class="request_login">
                              {% csrf_token %}
                              <small><a href="{% url 'users:login' %}?next={{request.path}}" style="color: purple;">Please Login to like this post</a></small>
                            </form>
                          {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End Blog Details -->
            </div>

            <div class="col-lg-5">
                <span>
                    <img src="#" alt="" style="max-width: 100%";>
                </span>
            </div>

            

        </div>
    </div>
</div>