{% extends 'jtalks/base.html' %}
{% load static %}
{% block title %}Jtalk Blog | {{ post.title }} {% endblock title %}
{% block blog_new %}Add Post{% endblock blog_new %}

{% block blog_style %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'jtalks/sytle.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" /> -->
{% endblock blog_style %}


{% block content %}

<div class="main container">
        <div class="row">
          <div class="col-lg-8">
            <div class="single-post">
              <h1>{{ post.title }}</h1>
              <div class="post-meta text-muted">
                <span><i class="far fa-user"></i>By <a href="{% url 'users:user_profile' post.author.id %}">{{ post.author }}</a></span>
                <span><img style="width: 20px;" src="{%static 'jtalks/images/icon/calendar.svg' %}" alt=""> On {{ post.date }}</span>
                <span><i class="far fa-comment-alt"></i> 0 comments</span>
              </div>
              <div class="post-contant">
                <div class="post-img"><img src="{{ post.image.url }}" alt=""></div>
                <!-- <h3>{{ post.title }}</h3> -->
                <p>{{ post.body|linebreaks }}</p>

                <!-- Share Post -->
                <div class="share">
                  <a href=""><i class="fab fa-facebook-f"></i> FACEBOOK</a>
                  <a href=""> <i class="fab fa-google-plus-g"></i> GOOGLE+</a>
                  <a href=""><i class="fab fa-linkedin-in"></i> LINKEDIN</a>
                  <a href=""><i class="fab fa-pinterest-p"></i> PINTEREST</a>
                </div>
                <div class="navigation">
                  <a class="prew"><i class="fas fa-chevron-left"></i> PREVIOUS</a>
                  <a href="page={{ posts.next_page_number }}" class="next">NEXT <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="line"></div>


                <div class="col-lg-6">
                <!-- Display Comment Section -->
                {% if comments %}
                    <!-- <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong> -->
                    {% with comments.count as total_comments %}
                        <strong>{{ total_comments }} comment{{ total_comments|pluralize }}</strong>
                    {% endwith %}
                    <hr>
                    <ul>
                        {% for comment in comments %}
                            <li>
                                <div class="post-meta">
                                    <ul>
                                        <li>Comment {{ forloop.revcounter }} By <a href="{% url 'users:user_profile' comment.author.id %}">{{ comment.author }}</a></li>
                                        <li> On {{ comment.date }}</li>
                                    </ul>
                                </div>
                                <div class="post-contant">
                                    {% if comment.author.gender == 'Male' %}
                                    <p> He wrote:<br>{{ comment.comment|safe }}</p>
                                    {% else %}
                                    <p> She wrote:<br>{{ comment.comment|safe }}</p>
                                    {% endif %}
                                </div>
                            </li>
                            <hr>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong class="text-secondary">No comments yet...</strong>
                {% endif %}
                <!-- End Display Comment Section -->
            </div>

                <!-- COMMENT FORM -->
                <form method="POST" id="commentForm">
                    {% if user.is_authenticated %}
                        {% if new_comment %}

                            {% csrf_token %}
                            <!-- Message input -->
                            <div class="mb-3">
                                <label class="form-label" for="comment">Add another Comment</label>
                                <textarea class="form-control" id="comment" type="text" placeholder="" style="height: 10rem;" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Comment is required.</div>
                            </div>

                                <!-- Name input -->
                            <div class="mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Name *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                            </div>

                            <!-- Email address input -->
                            <div class="mb-3">
                                <input class="form-control" id="emailAddress" type="email*" placeholder="Email Address *" data-sb-validations="required, email" />
                                <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                            </div>

                            <!-- Form submissions success message -->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">Your comment has been added successfully!</div>
                            </div>

                            <!-- Form submissions error message -->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>

                            <!-- Form submit button -->
                            <div class="d-grid">
                                <button class="main-btn" id="submitButton" type="submit">Post Comment</button>
                            </div>
                        {% else %}

                            {% csrf_token %}
                            <!-- Message input -->
                            <div class="mb-3">
                                <label class="form-label" for="comment">Add a New Comment</label>
                                <textarea class="form-control" id="comment" type="text" placeholder="" style="height: 10rem;" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Comment is required.</div>
                            </div>

                                <!-- Name input -->
                            <div class="mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Name *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                            </div>

                            <!-- Email address input -->
                            <div class="mb-3">
                                <input class="form-control" id="emailAddress" type="email*" placeholder="Email Address *" data-sb-validations="required, email" />
                                <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                            </div>

                            <!-- Form submissions success message -->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">Form submission successful!</div>
                            </div>

                            <!-- Form submissions error message -->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>

                            <!-- Form submit button -->
                            <div class="d-grid">
                                <button class="main-btn" id="submitButton" type="submit">Post Comment</button>
                            </div>
                        {% endif %}
                    {% else %}
                            <div class="d-grid">
                                <a href="{% url 'users:login' %}?next={{request.path}}" style="color: purple;">Please Log in to add a comment!</a>
                            </div>
                    {% endif %}
                </form>
              </div>
            </div>
          </div>



          <div class="sidebar col-lg-4">
            <div class="input-group">
              <div class="form-outline">
                <input id="search-input" type="search" id="form1" class="form-control" placeholder="search" />
              </div>
              <button id="search-button" type="button" class="btn dark">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <div class="sidebar-category">
              <h4>We take care of your business</h4>
              <div class="category">
                <div class="category-item">
                  <img class="category-icon" src="img/icon/marketing.svg" alt="">
                  <h3 class="category-title">Digital<br>Marketing</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing </p>
                  <a class="arrow" href=""><img style="width: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a>
                </div>
                <div class="category-item">
                  <img class="category-icon" src="img/icon/identity.svg" alt="">
                  <h3 class="category-title">Corporate<br>Identity</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing </p>
                  <a class="arrow" href=""><img style="width: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a>
                </div>
                <div class="category-item">
                  <img class="category-icon" src="img/icon/email.svg" alt="">
                  <h3 class="category-title">Email<br>Marketing</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing </p>
                  <a class="arrow" href=""><img style="width: 20px;" src="img/icon/arrow-right-icon.svg" alt=""></a>
                </div>
          </div>
            </div> 

            <!-- Latest Post -->
            <div class="recent-posts my-5">
              <h4>Our latest Articles</h4>
              <a href="">All category <img style="width: 20px; margin-left: 20px;" src="{%static 'jtalks/images/icon/arrow-right-icon.svg' %}" alt=""></a>
            <div class="latest-articles-wrapper">
                {% for post in categories %}
                    <div class="article">
                        <div class="arcticle-photo"><img src="{{ post.image.url }}" alt=""></div>
                        <div class="article-text">
                        <a href="{% url 'forum:post_detail' post.pk post.slug %}"><h5 class="title">Develop Marketing</h5></a>
                        <p class="article-meta"><img src="{%static 'jtalks/img/icon/calendar.svg' %}" alt=""><span class="data text-muted">August 24, 2021</span></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                    </div>
                {% endfor %}
              
            </div>       
          </div>
          </div>
        </div>
      </div>




















<!-- 
<section id="blog-container">
    <div class="blogs postpage">
        <div class="post">
            <img src="{{ post.image.url }}" alt="">
            <h3>{{ post.title }}</h3>
            <div class="blog_meta">
                <ul>
                    <li>By <a href="{% url 'users:user_profile' post.author.id %}">{{ post.author }}</a></li>
                    {% for category in post.categories.all %}
                    <li>In
                        <a href="{% url 'forum:blog_category' category.name %}">
                            {{ category.name }}
                        </a></li>
                    {% endfor %}
                    <li> On {{ post.date }}</li>
                </ul>
                </div>
            <p>{{ post.body|linebreaks }}</p>
            <a class="blue" href="page={{ posts.next_page_number }}">Read Next ?</a>
        </div>

    </div> -->

</section>

{% endblock content %}








<section id="blog-container">
    <div class="blog_pages">
        <ul>
            <span class="step-links">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
            </span>
        </ul>
    </div>
</section>

<!-- Start Comment Section -->
<section id="blog-container">
<div class="blogs postpage">
    <!--Add Comment Form -->
    <div class="post">
        <!-- <h2>Leave your comment:</h2> -->
    </div>
    <div id="contact_form_section">
        {% if user.is_authenticated %}
            {% if new_comment %}
                <h2>Your comment has been added successfully.</h2>
                <h2>Add another comment</h2>
                <form class="contact_form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {{ comment_form.as_p }}
                    </div>
                    <button class="like_post">Add comment</button>
                </form>
            {% else %}
                <h3>Add a new comment</h3>
                <form class="contact_form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {{ comment_form.as_p }}
                    </div>
                    <button class="like_post">Add comment</button>
                </form>
            {% endif %}
        {% else %}
            <button class="like_post">
                <a href="{% url 'users:login' %}?next={{request.path}}" style="color: purple;">Please Log in to add a comment!</a>
            </button>
        {% endif %}
    </div>
    <!--End Comment Form -->
</div>



</section>
<!-- End Comment Section -->

<section id="blog-container">
<div class="blogs postpage">
    <!-- Display Comment Section -->
    {% if comments %}
        <!-- <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong> -->
        {% with comments.count as total_comments %}
            <strong>{{ total_comments }} comment{{ total_comments|pluralize }}</strong>
        {% endwith %}
        <hr>
        <ul>
            {% for comment in comments %}
                <li>
                    <div class="blog_meta">
                        <ul>
                            <li>Comment {{ forloop.revcounter }} By <a href="{% url 'users:user_profile' comment.author.id %}">{{ comment.author }}</a></li>
                            <li> On {{ comment.date }}</li>
                        </ul>
                    </div>
                    <div class="post">
                        {% if comment.author.gender == 'Male' %}
                        <p> He wrote:<br>{{ comment.comment|safe }}</p>
                        {% else %}
                        <p> She wrote:<br>{{ comment.comment|safe }}</p>
                        {% endif %}
                    </div>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <strong class="text-secondary">No comments yet...</strong>
    {% endif %}
    <!-- End Display Comment Section -->
</div>
</section>








<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="blog_content">
                    <!-- Add Blog Details -->
                    <div class="blog_post">
                      <hr>
                        <div class="blog_image">
                            <img src="{{ post.image.url }}">
                        </div>
                        <div class="blog_title">
                            {{ post.title }}
                        </div>
                        <div class="blog_meta">
                            <ul>
                                <li>By <a href="{% url 'users:user_profile' post.author.id %}">{{ post.author }}</a></li>
                                {% for category in post.categories.all %}
                                <li>In
                                    <a href="{% url 'forum:blog_category' category.name %}">
                                        {{ category.name }}
                                    </a></li>
                                {% endfor %}
                                {% if comments %}
                                    {% with comments.count as total_comments %}
                                        <li>{{ total_comments }} Comment{{ total_comments|pluralize }}</li>
                                    {% endwith %}
                                {% else %}
                                    <li>0 Comment</li>
                                {% endif %}
                                <li> On {{ post.date }}</li>
                                <li>{{ post.total_likes }} Like{{ post.total_likes|pluralize }}</li>
                            </ul>
                        </div>
                        <div class="blog_text">
                            <p>{{ post.body}}</p>
                        </div>

                        <div>
                          
                          {% if user.is_authenticated %}
                            <form action="{% url 'forum:like_post' post.id post.slug %}" method="POST">
                              {% csrf_token %}
                              <button class="like_post" type="submit" name="post_id" value="{{ post.id }}">Like Post</button>
                              <strong>- {{ post.total_likes }} Like{{ post.total_likes|pluralize }}</strong>
                            </form>
                          {% else %}
                            <form action="{% url 'forum:like_post' post.id post.slug %}" method="POST" class="request_login">
                              {% csrf_token %}
                              <small><a href="{% url 'users:login' %}?next={{request.path}}" style="color: purple;">Please Login to like this post</a></small>
                            </form>
                          {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End Blog Details -->
            </div>

            <div class="col-lg-5">
                <span>
                    <img src="#" alt="" style="max-width: 100%";>
                </span>
            </div>

            

        </div>
    </div>
</div>