{% extends 'jtalks/base.html' %} {% load static %} {% block title %} Login Form {% endblock title %} 
{% block content %}



<div class="container">
  <div class="row">
				<div class="col-md-4 col-md-offset-4">
					
					<!-- Start Login Form -->
					<form method="POST" class="fh5co-form animate-box" data-animate-effect="fadeIn">
            {% csrf_token %}
						<h2>Login Form</h2>
						<!-- <div class="form-group">
              {% if messages %} {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor %} {% endif %}
						  <div class="alert alert-success" role="alert">Your info has been saved.</div>
						</div> -->
            <div class="form-group">
							<label for="username" class="sr-only">Username</label>
							<input type="text" class="form-control"name="username" placeholder="username" required>
						</div>
						
						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
              <input type="checkbox" onclick="showPassword()" /> Show Password
						</div>

						<div class="form-group">
							<p>Don't have an account? <a href="{% url 'users:signup' %}">Register</a></p>
						</div>
						<div class="form-group">
							<input type="submit" value="Login" class="btn btn-primary">
						</div>
					</form>
					<!-- END Login Form -->

				</div>
			</div>
</div>

{% endblock %} {% block js %}
<script src="{%static 'jtalks/script.js' %}"></script>
<script>
  function showPassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
{% endblock js %}
