{% extends 'jtalks/base.html' %} {% load static %} {% block title %} Login Form {% endblock title %} 
{% block content %}
<section class="vh-105">
  <div class="container py-5 h-110">
    <div class="row justify-content-center align-items-center h-110">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">Password Reset</h1>
            <div class="message">
              {% if messages %} {% for message in messages %}
              <h3 style="text-align: center">{{ message }}</h3>
              {% endfor %} {% endif %}
            </div>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="username">Email:</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control form-control-lg"
                      required
                    />
                  </div>
                </div>
      
              </div>

              <div class="mt-4 pt-2">
                <input
                  class="btn btn-secondary btn-lg"
                  type="submit"
                  value="Request Password Reset"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block js %}
<script>
  function showPassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
{% endblock js %}
