{% extends 'jtalks/base.html' %} {% load static %} {% block title %}Sign Up
Form{% endblock title %} {% block content %}

<div class="form-container">

   <form method="POST" name="signupForm" enctype="multipart/form-data">
     {% csrf_token %}
      <h3>Sign Up Form</h3>
            {% if messages %} {% for message in messages %}
            <span class="error-msg">{{ message }}</span>
            {% endfor %} {% endif %}
      <input type="text" name="first_name" required placeholder="Enter Your First Name">
      <input type="text" name="last_name" required placeholder="Enter Your Last Name">
      <input type="text" name="username" required placeholder="Enter Your Your Username">
      <input type="email" name="email" required placeholder="Enter Your Email">
      <input type="password" name="password" required placeholder="Enter Your Password" id="password">
      <input type="password" name="password2" required placeholder="Confirm Your Password">
      <input type="file" name="photo">
      <select name="about_us">
                    <option value="">How did you hear about us</option>
                    <option value="WhatsApp">WhatsApp</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Instagram">Instagram</option>
                    <option value="YouTube">YouTube</option>
                    <option value="Blog">Blog</option>
      <input type="submit" name="submit" value="register now" class="form-btn">
      <p>already have an account? <a href="login_form.php">login now</a></p>
   </form>

</div>

{% endblock %} {% block js %}
<script>
  function showPassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }

  function showPassword2() {
    var x = document.getElementById("password2");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
{% endblock js %}
