{% extends 'users/base.html' %} {% load static %} {% block title %}Sign Up
Form{% endblock title %} {% block content %}
<div class="webAppContainer">
  <div class="webAppWrapper">
    <h1 class="myheader">SignUp</h1>
    <hr />
    <div class="formContainer">
      <form
        method="POST"
        name="signupForm"
        enctype="multipart/form-data"
        action=""
      >
        {% csrf_token %}
        <div class="formInputs">
          <input type="text" name="username" placeholder="Enter a username" />
        </div>

        <div class="formInputs">
          <input type="text" name="first_name" placeholder="First Name" />
        </div>

        <div class="formInputs">
          <input type="text" name="last_name" placeholder="Last Name" />
        </div>

        <div class="formInputs">
          <input type="text" name="email" placeholder="Email" />
        </div>

        <div class="formInputs">
          <input
            type="text"
            name="phone_number"
            placeholder="Enter Your Phone Number"
          />
        </div>

        <div class="formInputs">
          <input
            type="password"
            name="password"
            placeholder="Enter Your Password"
          />
        </div>

        <div class="formInputs">
          <input
            type="password"
            name="password2"
            placeholder="Confirm Your Password"
          />
        </div>

        <div class="myFormbase">
          <h3>Select Your Gender Below:</h3>
          <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="formInputs">
          <textarea
            placeholder="...Tell us something more about yourself"
            name="about_me"
          ></textarea>
        </div>

        <div class="formInputs">
          <input type="text" name="referral" placeholder="Referral" />
        </div>

        <div class="myFormbase">
          <h6>How did you hear about us:</h6>
          <select name="How did you hear about us">
            <option value="WhatsApp">WhatsApp</option>
            <option value="Facebook">Facebook</option>
            <option value="Twitter">Twitter</option>
            <option value="Instagram">Instagram</option>
            <option value="YouTube">YouTube</option>
            <option value="Blog">Blog</option>
          </select>
        </div>

        <div class="formInputs">
          <input type="file" name="photo" />
        </div>

        <div class="formInputs_sub">
          <input type="submit" name="submitButton" value="Register" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
