{% extends 'jtalks/base.html' %}

{%block content%}
<section id="about-home">
    <h2>About Us /</h2>
</section>

<section id="about-container">
    <div class="about-img">
        <img src="images/a.png" alt="">
    </div>

    <div class="about-text">
        <h2>Welcome to TechEduca, Enhance your skills with best Online Courses</h2>
        <p>You can start and finish one of these popular courses in under a day – for free! Check out the list below..
            Take the course for free</p>

        <div class="about-fe">
            <img src="images/fe1.png" alt="">
            <div class="fe-text">
                <h5>400+ Courses</h5>
                <p>You can start and finish one of these popular courses in under our site</p>
            </div>
        </div>
        <div class="about-fe">
            <img src="images/fe2.png" alt="">
            <div class="fe-text">
                <h5>Lifetime Access</h5>
                <p>You can start and finish one of these popular courses in under our site</p>
            </div>
        </div>

    </div>
</section>

<section id="features">
    <h1>Awesome Feature</h1>
    <p>Replenish man have thing gathering lights yielding shall you</p>
    <div class="fea-base">
        <div class="fea-box">
            <i class="fas fa-graduation-cap"></i>
            <h3>Scholarship Facility</h3>
            <p>One make creepeth, man bearing theira firmament won't great heaven</p>
        </div>

        <div class="fea-box">
            <i class="fas fa-file-certificate"></i>
            <h3>Sell Online Course</h3>
            <p>One make creepeth, man bearing theira firmament won't great heaven</p>
        </div>

        <div class="fea-box">
            <i class="fas fa-award"></i>
            <h3>Global Certification</h3>
            <p>One make creepeth, man bearing theira firmament won't great heaven</p>
        </div>
    </div>
</section>

<section id="trust">
    <h1>Trusted By</h1>
    <p>Replenish man have thing gathering lights yielding shall you</p>
    <div class="trust-images">
        <img src="images/trust (1).png" alt="">
        <img src="images/trust (2).png" alt="">
        <img src="images/trust (3).png" alt="">
        <img src="images/trust (4).png" alt="">
        <img src="images/trust (5).png" alt="">
        <img src="images/trust (6).png" alt="">
    </div>
</section>
{%endblock content%}

<!-- about section ends -->