{% extends 'jtalks/base.html' %}
{%load static%}

{%block content %}


<!-- categories section starts  -->
<section id="course">
  <h1>Our Categories</h1>
  <p>Replenish man have thing gathering lights yielding shall you</p>
  
  <div class="course-box">
      {% for courses in object_list %}
    <div class="courses">
      <img src="" alt="" />
      <div class="details">
        <span>Updated 21/8/21</span>
        <h6>{{courses.name}}</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(239)</span>
        </div>
      </div>
      <div class="cost">${{courses.price}}</div>
    </div>
    {% endfor %}
</section>
{%endblock content%}


<!-- <section id="course">
  <h1>Our Popular Courses</h1>
  <p>Replenish man have thing gathering lights yielding shall you</p>
  <div class="course-box">
    <div class="courses">
      <img src="{%static 'jtalks/images/course1.png' %}" alt="" />
      <div class="details">
        <span>Updated 21/8/21</span>
        <h6>JavaScript Beginners Course</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(239)</span>
        </div>
      </div>
      <div class="cost">$49.99</div>
    </div> -->
