{% extends 'users/base.html' %}
{% load static %}
{% block title %}Successfully Sent{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/contact.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/contact_responsive.css' %}"/>
{% endblock style %}


{% block content %}
    <div class="new_page container">
        <div class="contact_form_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            Thank You For Contacting Us. <br>
                            Your Message Has Been Successfully Received.<br>
                            We'll Get Back To You Once It Has Been Reviewed.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


