{% extends 'jtalks/base.html' %}
{% load static %}
{% block title %}Successfully Sent{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/contact.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact/contact_responsive.css' %}"/>
{% endblock style %}


{% block content %}
    <section id="blog-container">
        <div class="blogs postpage">
            <div class="post">
                <p>Thank You For Contacting Us. <br>
                    Your Message Has Been Successfully Received.<br>
                    We'll Get Back To You Once It Has Been Reviewed.
                </p>
            </div>
        </div>
</section>
{% endblock content %}


