{% extends 'jtalks/base.html' %}
{% load static %}

<!-- home section starts  -->
{%block content %}
<section id="home">
  <h2>Impact Before Profit</h2>
  <p>
    We offer premimum course on Cryptocurrency, Social Media Marketing, Website
    Development and Personal Finance.
  </p>
  <div class="btn">
    <a class="blue" href="#">Learn More</a>
    <a class="yellow" href="#course">Visit Courses</a>
  </div>
</section>

<section id="features">
  <h1>Awesome Feature</h1>
  <p>Replenish man have thing gathering lights yielding shall you</p>
  <div class="fea-base">
    <div class="fea-box">
      <i class="fas fa-graduation-cap"></i>
      <h3>Scholarship Facility</h3>
      <p>One make creepeth, man bearing theira firmament won't great heaven</p>
    </div>

    <div class="fea-box">
      <i class="fas fa-file-certificate"></i>
      <h3>Sell Online Course</h3>
      <p>One make creepeth, man bearing theira firmament won't great heaven</p>
    </div>

    <div class="fea-box">
      <i class="fas fa-award"></i>
      <h3>Global Certification</h3>
      <p>One make creepeth, man bearing theira firmament won't great heaven</p>
    </div>
  </div>
</section>

<!-- Courses Section -->
<section id="course">
  <h1>Our Popular Courses</h1>
      <form class="d-flex" method="POST" action="/course/search_courses/">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Courses" name="course" required>
          <button class="btn btn-outline-success" type="submit" id="search_course">
            <i class="fas fa-search"></i>
          </button>
      </form>
  <p>All our courses are available in both pdf and video formats</p>
  <div class="course-box">
    {% for course in courses %}
    <div class="courses">
      <img src="{{ course.cover.url }}" alt="{{ courses.name }}" />
      <div class="details">
        <!-- <span>Updated 21/8/21</span> -->
        
        <h6>{{ course.name }}</h6>
        <h6><a href="/course/{{ course.id }}/{{ course.slug }}/">
                    Read More
        </a></h6>
      </div>
      <div class="cost">${{ course.price }}</div>
    </div>
    {% endfor %}
  </div>
  <br>

  <div>
      <button style="text-decoration: none; padding: 13px 45px; background: rgb(240, 236, 245); border: 1px solid #dcd9e6; border-radius: 11px; color: black;" id="load_more" data-total="{{ total_data }}" data-limit="3">
            Load More
          <i class="fas fa-angle-double-right load-more-icon"></i>
      </button>
        <p class="product_end" style="display: none;">No more courses...</p>
  </div>
</section>
<!-- Courses Section End Here.. -->


<!-- Products Sections -->
<section id="course">
  <h1>Our Featured Products</h1>
      <!-- <form class="d-flex" method="POST" action="/course/search_courses/">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Courses" name="course" required>
          <button class="btn btn-outline-success" type="submit" id="search_course">
            <i class="fas fa-search"></i>
          </button>
      </form> -->
  <p>We have diffrent kinds of T-shirts and Hoodies</p>
  <div class="course-box">
    {% for product in products %}
    <div class="courses">
      <img src="{{ product.image.url }}" alt="{{ courses.name }}" />
      <div class="details">
        <!-- <span>Updated 21/8/21</span> -->
        
        <h6>{{ product.name }}</h6>
        <h6><a href="{% url 'product:product_detail' product.id product.slug %}">
                    Read More
        </a></h6>
      </div>
      <div class="cost">${{ product.price }}</div>
    </div>
    {% endfor %}
  </div>
  <br>
  
 <div>
      <button style="text-decoration: none; padding: 13px 45px; background: rgb(240, 236, 245); border: 1px solid #dcd9e6; border-radius: 11px; color: black;" id="load_more" data-total="{{ total_data }}" data-limit="3">
            Load More
          <i class="fas fa-angle-double-right load-more-icon"></i>
      </button>
        <p class="product_end" style="display: none;">No more courses...</p>
  </div>
</section>























<!-- <div>
  <div class="row">
    <div class="col-6">
      <h2>Featured Products here</h2>
      
    </div>
    
    <div class="col-6">
      <h2>Featured Courses here</h2>
      {% for course in courses %}
        {% if course.is_featured %}
          <div class="card product-box" style="width: 18rem;">
              <div>
                <img src="{{ course.content_file.url }}" class="card-img-top" alt="{{ course.name }}" height="200">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <h5>&#8358;{{ course.price }}</h5>
              </div>
              <div class="card-body">
                <button style="text-decoration: none; padding: 13px 45px; background: rgb(50, 50, 136); border: 1px solid #412e88; border-radius: 11px; color: white;">
                  <a href="/course/{{ course.id }}/{{ course.slug }}/">
                    Read More
                  </a>
                </button>
              </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div> -->

<!-- <div>
  <div class="row">
    <div class="col-6">
    <section id="course">
      <h1>Courses Categories</h1>
      {% for category in categories %}
      <div class="category">
        <i class="fas fa-hand-point-right hand"></i> {{ category }} <br>
      </div>
      {% endfor %}
       -->
      <!--Start Products List Section -->
      <!-- <div class="products" id="products_list">
        <h1>Our Popular Products</h1>
        <form class="d-flex" method="POST" action="/search_products/">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Products" name="product" required>
          <button class="btn btn-outline-success" type="submit" id="search_product">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <div class="products-cards" style="display: flex; flex-direction: row">
          {% for product in products %}
            <div class="card card-box" style="width: 18rem;">
              <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" height="200">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <h5>&#8358;{{ product.price }}</h5>
              </div>
              <div class="card-body">
                <button style="text-decoration: none; padding: 13px 45px; background: rgb(50, 50, 136); border: 1px solid #412e88; border-radius: 11px; color: white;">
                  <a style="color: white;" href="{% url 'product:product_detail' product.id product.slug %}">
                    Read More
                  </a>
                </button>
              </div>
            </div>
          {% endfor %}
        </div>
      </div> -->
      <!--End Products List Section -->

      <!-- <div>
        <button style="text-decoration: none; padding: 13px 45px; background: rgb(50, 50, 136); border: 1px solid #412e88; border-radius: 11px; color: white;" id="load_more_products" data-total="{{ total_products }}" data-limit="3">
          Load More
          <i class="fas fa-angle-double-right load-more-icon"></i>
        </button>
        <p class="end-products" style="display: none;">No more products...</p>
      </div>
    </section>
    </div> -->
    
    <!-- <div class="col-6">
      <section id="course">
        <h1>Our Popular Courses</h1>
        <form class="d-flex" method="POST" action="/course/search_courses/">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Courses" name="course" required>
          <button class="btn btn-outline-success" type="submit" id="search_course">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <p>All our courses are available in both pdf and video formats</p>
        <div class="course-cards" style="display: flex; flex-direction: row">
          {% for course in courses %}
            <div class="card product-box" style="width: 18rem;">
              <div>
                <img src="{{ course.cover.url }}" class="card-img-top" alt="{{ course.name }}" height="200">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <h5>&#8358;{{ course.price }}</h5>
              </div>
              <div class="card-body">
                <button style="text-decoration: none; padding: 13px 45px; background: rgb(50, 50, 136); border: 1px solid #412e88; border-radius: 11px; color: white;">
                  <a href="/course/{{ course.id }}/{{ course.slug }}/">
                    Read More
                  </a>
                </button>
              </div>
            </div>
          {% endfor %}
        </div>
        
        <div>
          <button style="text-decoration: none; padding: 13px 45px; background: rgb(50, 50, 136); border: 1px solid #412e88; border-radius: 11px; color: white;" id="load_more" data-total="{{ total_data }}" data-limit="3">
            Load More
            <i class="fas fa-angle-double-right load-more-icon"></i>
          </button>
          <p class="product_end" style="display: none;">No more courses...</p>
        </div>
      </section>
    </div>
  </div>
</div> -->

<!-- <section id="registration">
  <div class="reminder">
    <p>Get 100 Online Courses for Free</p>
    <h1>Register To Get It</h1>
    <div class="time">
      <div class="date">18<br />Days</div>
      <div class="date">23<br />Hours</div>
      <div class="date">06<br />Mins</div>
      <div class="date">58<br />Secs</div>
    </div>
  </div>
  <div class="form">
    {% if request.user.is_authenticated %}
    <h3>You are logged in as {{ request.user.username }}</h3>
    {% else %}
      <h3>Create Free Account NOW!</h3>
    <p class="text-center text-muted mt-5 mb-0">
      <a href="{% url 'users:signup' %}" class="fw-bold text-body">Sign Up</a>
    </p>
    
    <p class="text-center text-muted mt-5 mb-0">
      Already have an account?
      <a href="{% url 'users:login' %}" class="fw-bold text-body">Login here</a>
    </p>
    <div class="btn">
      <a class="yellow" href="#">Visit Courses</a>
    </div>
    {% endif %}  </div>
</section> -->

<section id="experts">
  <h1>Community Experts</h1>
  <p>Replenish man have thing gathering lights yielding shall you</p>
  <div class="expert-box">
    <div class="profile">
      <img src="{%static 'jtalks/images/pro1.webp' %}" alt="" />
      <h6>Ema Irnik</h6>
      <p>Python & Algorithm Expert</p>
      <div class="pro-link">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
    <div class="profile">
      <img src="{%static 'jtalks/images/pro2.webp' %}" alt="" />
      <h6>Jason</h6>
      <p>Data Analysis Expert</p>
      <div class="pro-link">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
    <div class="profile">
      <img src="{%static 'jtalks/images/pro3.webp' %}" alt="" />
      <h6>Maalik</h6>
      <p>Full Stack Developer</p>
      <div class="pro-link">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
    <div class="profile">
      <img src="{%static 'jtalks/images/pro4.webp' %}" alt="" />
      <h6>Jennifer</h6>
      <p>Design Expert</p>
      <div class="pro-link">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
  </div>
</section>
{%endblock content%}

{% block js %}
<script src="{% static 'jtalks/home.js' %}"></script>
{% endblock js %}