{% extends 'jtalks/base.html' %}
{% load static %}


{%block content %}
<main>
        <div class="intro-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-xl-4 ms-auto mt-5">
                <h1>Let's start something big <span class="yellow-stroke">together</span></h1>
                <label for="">Get your update about <span>courses</span></label>
                <div class="news-form">
                  <input type="email" name="email" placeholder="Enter your email" id="">
                  <button class="main-btn" type="submit">Send <img style="width: 15px; margin-left: 15px;" src="{%static 'jtalks/images/icon/arrow-right-icon-black.svg' %}" alt=""></button>
                </div>
              </div>
              <div class="col-12 d-md-flex justify-content-between mb-5">
                <div class="light-box first">
                    <h4>Cryptocurency<br>Lesson</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing </p>
                    <a class="arrow" href=""><img style="width: 20px;" src="{%static 'jtalks/images/icon/arrow-right-icon.svg' %}" alt=""></a>
                </div>
                <div  class="light-box second">
                    <h4>Brand<br>Identity</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing </p>
                    <a class="arrow" href=""><img style="width: 20px;" src="{%static 'jtalks/images/icon/arrow-right-icon.svg' %}" alt=""></a>
                </div>
                <div  class="light-box third">
                    <h4>Email<br>Marketing</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing </p>
                    <a class="arrow" href=""><img style="width: 20px;" src="{%static 'jtalks/images/icon/arrow-right-icon.svg' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- Clients -->
          <!-- <div class="clients text-center">
            <p class="text-muted text-uppercase pb-4">Some of our trusted clients</p>
            <div class="client-logo">
              <div><img src="img/icon/go-sm-logo.svg" alt=""></div>
              <div><img src="img/icon/social-road-logo.svg" alt=""></div>
              <div><img src="img/icon/firmbee-logo.svg" alt=""></div>
              <div><img src="img/icon/create-paper.svg" alt=""></div>
              <div><img src="img/icon/point-design-logo.svg" alt=""></div>
            </div>
          </div> -->
          <!-- See our projects -->
          <div class="see-our-projects">
            <h1>See our <span class="yellow-stroke">courses</span> </h1>
            <div class="projects-wrapper">
              <div class="project">
                <div class="project-logo">
                  <img src="{%static 'jtalks/images/icon/marketing.svg' %}" alt="">
                </div>
                <p class="project-title">Digital<br>
                  Currency</p>
                  <p class="project-description">Lorem Ipsum is simply dummy text of the printing </p>
              </div>
              <div class="project">
                <div class="project-logo">
                  <img src="{%static 'jtalks/images/icon/identity.svg' %}" alt="">
                </div>
                <p class="project-title">Copy<br>Writing</p>
                  <p class="project-description">Lorem Ipsum is simply dummy text of the printing </p>
              </div>
              <div class="project">
                <div class="project-logo">
                  <img src="{%static 'jtalks/images/icon/email.svg' %}" alt="">
                </div>
                <p class="project-title">Email<br>Marketing</p>
                  <p class="project-description">Lorem Ipsum is simply dummy text of the printing </p>
              </div>
            </div>
            <a href="" class="main-btn">View All <strong>Courses</strong></a>
          </div>

          <!-- What people say -->
          <div class="testimonials">
            <h1>What people say <span class="yellow-stroke">About Us</span> </h1>
            <div id="carouseltestimonials" class="carousel slide w-100" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="testimonial">
                    <div class="photo">
                      <img src="{%static 'jtalks/images/person-1.jpg' %}" alt="">
                    </div>
                    <div class="testimonial-text">
                      <div class="quote-test"><img src="{%static 'jtalks/images/icon/quaote.png' %}" alt=""></div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      <p class="name">-  John Bag</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial">
                    <div class="photo">
                      <img src="{%static 'jtalks/images/person-2.jpg' %}"" alt="">
                    </div>
                    <div class="testimonial-text">
                      <div class="quote-test"><img src="{%static 'jtalks/images/icon/quaote.png' %}" alt=""></div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      <p class="name">-  John Bag</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial">
                    <div class="photo">
                      <img src="{%static 'jtalks/images/person-3.jpg' %}"" alt="">
                    </div>
                    <div class="testimonial-text">
                      <div class="quote-test"><img src="{%static 'jtalks/images/icon/quaote.png' %}" alt=""></div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      <p class="name">-  John Bag</p>
                    </div>
                  </div>
                </div>
                <div class="controllers">
                  <button  type="button" data-bs-target="#carouseltestimonials" data-bs-slide="prev">
                    <img class="black" src="{%static 'jtalks/images/icon/arrow-left-icon-black.svg' %}" alt="" >
                    <img class="yellow" src="{%static 'jtalks/images/icon/arrow-left-icon.svg' %}" alt="">
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button  type="button" data-bs-target="#carouseltestimonials" data-bs-slide="next">
                    <img class="black" src="{%static 'jtalks/images/icon/arrow-right-icon-black.svg' %}" alt="">
                    <img class="yellow" src="{%static 'jtalks/images/icon/arrow-right-icon.svg' %}" alt="">
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>  
            </div>
          </div>

          <!-- Newsletter -->
          <div class="update-news">
            <div class="row">
              <div class="col-md-6 news-text">
                <h2>Sign Up for our online classes</h2>
                <p>If you going to use a passage of Lotem Ipsum, you need to be sure there  isn’t anything embarrassing.</p>
              </div>
              <div class="col-md-6 news-form">
                <input type="email" name="email" placeholder="Enter your email" id="">
                <button class="main-btn" type="submit">Send <img style="width: 15px; margin-left: 15px;" src="{%static 'jtalks/images/icon/arrow-right-icon-black.svg' %}" alt=""></button>
              </div>
            </div>
            </div>
           <!-- Variations -->
          <div class="variations">
              <div class="text">
                <h1>We believe in Impact before profit</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href="" class="main-btn">Read more</a>
              </div>
              <div class="img">
                <img src="{%static 'jtalks/images/jtalks-img.png' %}" alt="">
              </div>
          </div> 

          <!-- Latest Articles -->
          <div class="latest-articles text-center">
            <h1>Our latest <span class="yellow-stroke">Articles</span></h1>
            <div class="latest-articles-wrapper">
              <div class="article">
                <img src="{%static 'jtalks/images/post-1.png' %}" alt="">
                <p class="article-meta"><img src="{%static 'jtalks/images/icon/calendar.svg' %}" alt=""><span class="data text-muted">August 24, 2021</span></p>
                <a href="single-post.html"><h4 class="title">Develop Marketing</h4></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              </div>
              <div class="article">
                <img src="{%static 'jtalks/images/post-2.png' %}" alt="">
                <p class="article-meta"><img src="{%static 'jtalks/images/icon/calendar.svg' %}" alt=""><span class="data text-muted">July 13, 2021</span></p>
                <a href="single-post.html"><h4 class="title">Resources Your Blog</h4></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              </div>
              <div class="article">
                <img src="{%static 'jtalks/images/post-1.png' %}" alt="">
                <p class="article-meta"><img src="{%static 'jtalks/images/icon/calendar.svg' %}" alt=""><span class="data text-muted">April 18, 2021</span></p>
                <a href="single-post.html"><h4 class="title">Know Your Audience</h4></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              </div>
            </div>
          </div>
        </div>
      </main>
{%endblock content%}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="{%static 'jtalks/js/nav-bg.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock js %}