{% for course in data %}
<div class="card product-box" style="width: 18rem">
  <div>
    <img
      src="{{ course.cover.url }}"
      class="card-img-top"
      alt="{{ course.name }}"
      height="200"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ course.name }}</h5>
    <h5>&#8358;{{ course.price }}</h5>
  </div>
  <div class="card-body">
    <button
      style="
        text-decoration: none;
        padding: 13px 45px;
        background: rgb(50, 50, 136);
        border: 1px solid #412e88;
        border-radius: 11px;
        color: white;
      "
    >
      <a href="/course/{{ course.id }}/{{ course.slug }}/"> Read More </a>
    </button>
  </div>
</div>
{% endfor %}
